{
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": ["eslint: recommended", "plugin: react/recommended"],
    "env": {
        "brower": true,
        "node": true
    },
    "rules": {
        "max-length": 0
    },
    "plugins": ["import", "react-hooks"]
}
